/node_modules
/public/hot
/public/storage
/public/signaturefile
/storage/*.key
/vendor
/public/document
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
